# Dependencies
node_modules
.venv
venv
__pycache__

# Environment
.env

# Build outputs
dist
build

# IDE
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
